.pagination {
  display: flex;
}

.page-link {
  position: relative;
  display: block;
  @include transition($pagination-transition);

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
  }
}

.page-item {
  &:not(:first-child) .page-link {

  }

  &:nth-child(1),
  &:nth-last-child(1) {
    .page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      &:before {
        display: block;
        width: 7px;
        height: 12px;
        background: {
          image: url("../images/icons/icon_arr.svg");
          size: 100% auto;
          position: center center;
        }
        content: "";
      }
    }
    span.page-link {
      opacity: 0.3;
    }
  }
  &:nth-child(1) {
    .page-link {
      &:before {
        transform: rotate(-180deg);
        margin-left: -2px;
      }
    }
  }
  &:nth-last-child(1) {
    .page-link {
      &:before {
      }
    }
  }

  &.active {
    .page-link,
    .page-link:hover {
      background-color: #c1c1c1;
      color: #fff;
    }
  }

  .page-link {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    color: #686868;
    font-size: 13px;
    line-height: 1.3;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }

  &.active .page-link {
    z-index: 3;
  }

  &.disabled .page-link {
    pointer-events: none;
  }
}

.pagination-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 50px;

  &.align-left {
    justify-content: flex-start;
  }
  &.align-right {
    justify-content: flex-end;
  }
  &.align-between {
    justify-content: space-between;
  }
  .page-count {
    .select-group {
      display: inline-block;
      margin-left: 20px;
      .custom-select {
        width: auto;
        min-width: 80px;
        height: 30px;
      }
    }
  }
}