.b-sidebar-outer {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: visible;
  z-index: $b-sidebar-zindex;

  &-size-600 {
    .b-sidebar{
      width: 630px;
    }
  }
}

.b-sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}

.b-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: $b-sidebar-width;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  outline: 0;
  transform: translateX(0);

  &.slide {
    transition: transform $b-sidebar-transition-duration ease-in-out;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &:not(.b-sidebar-right) {
    left: 0;
    right: auto;

    &.slide:not(.show) {
      transform: translateX(-100%);
    }

    > .b-sidebar-header .close {
      margin-left: auto;
    }
  }

  &.b-sidebar-right {
    left: auto;
    right: 0;

    &.slide:not(.show) {
      transform: translateX(100%);
    }

    > .b-sidebar-header .close {
      margin-right: auto;
    }
  }

  .b-sidebar-header,
  .pop-content-header{
    padding: 40px 40px 20px;

    h2{
      line-height: 1;
    }

    .btn-close {
      position: absolute;
      right: 30px;
      top: 32px;
      margin:0;
      padding: 10px;
      min-width: auto;
      background-color: transparent !important;
    }
  }

  > .b-sidebar-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;

    @at-root {
      // Keep the buttons on the correct end when in RTL mode
      [dir="rtl"] & {
        flex-direction: row-reverse;
      }
    }
  }

  > .b-sidebar-body {
    flex-grow: 1;
    height: 100%;
    padding: 0;
    overflow-y: auto;

    .pop-content-header {

    }

  }

  .b-sidebar-footer,
  .pop-content-footer{
    padding: 28px 40px;
    .btn{
      margin: 0 8px;
    }
  }

  &-right{
    .b-sidebar-footer{
      justify-content: flex-end;
    }
  }
}





