.table {
  border-collapse: collapse;
  width:100%;
  thead,
  tbody {
    position: relative;
    th,
    td {
      border-top: none;
      border-bottom: none;
      //padding: 16px 18px 18px;
      font-size: 14px;
      vertical-align: middle;
    }

    th{
      font-weight: 500;
    }

    & + tbody {
      border-top: none;
      border-bottom: none;
    }

    .none-data {
      display: table-row;
      td {
        padding: 160px 0 !important;
        text-align: center !important;
      }
    }
  }

  tbody{
    th,td{
      background-color: white;
    }
  }

  &-hover {
    tbody {
      tr:not(.none-data) {
        &:hover {
          th, td {
            color: $default;
            background-color: #fafbfc;
          }
        }
        &.none-data:hover {
          background-color: transparent;
        }
      }
    }
  }

  &-fixed {
    table-layout: fixed;
  }

  &-datatable {
    tr {
      th,
      td {
        height: 48px;
        padding: 4px 8px;

        &:first-child {
          padding-left: 50px;
        }

        &:last-child {
          padding-right: 50px;
        }
      }
    }
    thead {
      position: relative;
      &:before{
        display: block;
        position: absolute; left:0; top:0;
        width: 100%; height: calc(100% - 8px);
        border-radius: $border-radius;
        background: $gray-300;
        border: 1px solid $gray-400;
        content:'';
      }
      tr {
        th {
          position: relative;
          z-index: 1;
          font-size: 16px;
          color: $gray-1000;
          padding-bottom: 12px;
        }
      }
    }
    tbody {
      position: relative;
      &:before{
        display: block;
        position: absolute; left:0; top:0;
        z-index: 10;
        width: 100%; height: 100%;
        border-radius: $border-radius;
        pointer-events: none;
        border: 1px solid $gray-400;
        content:'';
      }
      tr {
        border-bottom: 1px solid $gray-400;
        @include hdLine(border-width);

        &:first-child{
          th,td{
            &:first-child{
              border-top-left-radius: $border-radius;
            }
            &:last-child{
              border-top-right-radius: $border-radius;
            }
          }
        }
        &:last-child{
          border-bottom: none;
          th,td{
            &:first-child{
              border-bottom-left-radius: $border-radius;
            }
            &:last-child{
              border-bottom-right-radius: $border-radius;
            }
          }
        }

        th {
          font-weight: 500;
        }

        td {
          .text-link {
            .txt {
              font-size: 13px;
              vertical-align: middle;
            }
            .vs-icon {
              opacity: 0;
              width: 0;
              overflow: hidden;
              transition: opacity 0.1s ease-in-out;
              &:before {
                display: none;
              }
              svg {
                width: 12px;
                height: 12px;
              }
            }
            & + .btn {
              &.btn-icons {
                position: relative;
                top: 2px;
              }
            }
          }
        }

        &:hover {
          td {
            a.text-overflow {
              text-decoration: underline;
            }
          }
        }
      }

      &.table-plain {
        tr {
          th,
          td {
            padding: 0 !important;
            border: none !important;
          }
        }
      }
    }

    // 사각버튼
    .btn-select {
      min-width: auto;
      margin-top: 1px;
      margin-bottom: 1px;
      padding: 0 12px;

      &.btn-ok {
      }
      &.btn-reject {
        &:hover {
          border-color: $warning !important;
        }
      }
    }

    &.table-detail {
      border-top: 1px solid $light-gray;
      tr {
        th,
        td {
          &:first-child {
            padding-left: 18px;
          }
        }
        th {
          background-color: #f5f6f9;
          text-align: center;
        }
        td {
          text-align: left;
        }
      }
    }
  }

  &-grid {
    &.dl-detail {
      display: flex;
      flex-wrap: wrap;
      box-shadow: 0 0 1px $gray-700;
      @include border-radius($border-radius);

      & > dt,
      & > dd {
        display: flex;
        align-items: center;
        min-height: 48px;
        padding: 4px 16px;
        border-top: 1px solid $gray-400;

        &:nth-of-type(1),
        &:nth-of-type(2){
          border-top: none;
        }
      }

      & > dt {
        position: relative;
        justify-content: center;
        width: 20%;
        background-color: $gray-300;
        color: $dark-gray;
        overflow:hidden;

        &:first-child + .wide-column{
          & + dt, & + dt + dd{
            border-top: 1px solid $gray-400;
          }
        }
      }

      & > dd {
        width: 30%;
        text-align: left;
        font-size: 14px;

        &.wide-column {
          width: 80%;
        }
      }
    }

    tr {
      th,
      td {
        padding: 4px 50px !important;
      }
    }

    thead {
      tr {
        th {
          text-align: center;
        }
      }
    }
  }

  &-checkable {
    tr {
      th,
      td {
        &:first-child {
          width: 86px;
          text-align: left;
        }
      }
    }
  }

  &-bordered {
    border: none;
    tr {
      th,
      td {
        border-color: $light-gray;
      }
      th,
      td {
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    thead {
      tr {
        th {
        }
      }
    }
  }


}
