// 프로젝트를 위한 변수 재설정
// $font-size: 10px, 13px, 14px, 20px, 24px;
// $button-height: 18px, 24px, 32px, 40px, 52px;
$font-size-base: 14px; //body-font-size


$h1-font-size: 26px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;
$small: 10px;

// 컬러정의
$default: #686868;
$primary: #0097f6;

$primary-100: #e8f3ff;
$primary-200: #8acffd;
$primary-300: #35afff;

$secondary-100: #dbfde7;
$secondary-200: #67fda1;
$secondary-300: #2bff77;

$special: #39D893;

$gray-100: #FCFCFC;
$gray-200: #F6F6F6;
$gray-300: #ECECEC;
$gray-400: #DBDBDB;
$gray-500: #C1C1C1;
$gray-600: #A0A0A0;
$gray-700: #808080;
$gray-800: #686868;
$gray-900: #646464;
$gray-1000: #404040;

$support-primary: #006BF6;
$warning: #FFDEDE;
$success: #09BE88;
$danger: #FF2727;
$danger-100: #ffe0e0;

$default: $gray-800;
$light-gray: $gray-200;
$dark-gray: $gray-900;

$theme-colors: map-merge(
                $theme-colors,
                (
                        "primary-100":$primary-100,
                        "primary-200":$primary-200,
                        "primary-300":$primary-300,
                        "secondary-100":$secondary-100,
                        "secondary-200":$secondary-200,
                        "secondary-300":$secondary-300,
                        "danger": $danger,
                        "danger-100": $danger-100,
                        "special":$special,
                        "success": $success,
                        "support-primary":$support-primary,
                        "warning": $warning,
                        "gray-100":$gray-100,
                        "gray-200":$gray-200,
                        "gray-300":$gray-300,
                        "gray-400":$gray-400,
                        "gray-500":$gray-500,
                        "gray-600":$gray-600,
                        "gray-700":$gray-700,
                        "gray-800":$gray-800,
                        "gray-900":$gray-900,
                        "gray-1000":$gray-1000,
                        "light":$gray-100,
                        "dark":$gray-900,
                        "default": $default,
                )
);


$body-bg: $gray-200;

//버튼 정의
$border-radius: 4px;
$button-x-padding: 16px;


