.s-guide{
  .row{
    &:not(:first-child){
      margin-top: 20px;
    }
  }
  .page-header{
    position: sticky;
    left:0; top:0;
    z-index: 100;
    margin-bottom: 30px;
    background-color: rgba(white, 0.9);
  }

  h1{
    font-size: 32px;
    margin-bottom: 10px;
  }

  .toc{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(black, 0.1);
    ul{
      margin:0; padding:0;
      list-style:none;
    }
     & > ul{
       display: flex;
       padding: 5px 10px 7px;
       & > li{
         margin-right: 20px;
         .title{
           font-size: 16px;
           font-weight: 500;
         }
         ul{
           li{
             &:before{
               margin-right: 4px;
               content:"-";
             }
             a{
               font-size: 14px;
               line-height: 1.4;
               &:hover{
                 text-decoration: underline;
               }
             }
           }
         }

         a:hover{
           color: blue;
         }
       }
     }

    ul > li > ul{

    }
  }

  h2{
    position: relative;
    font-size: 24px;
    &:not(:first-child){
      margin-top: 40px;
    }

    &:before{
      display: none;
      position: absolute; left:-14px; top:0;
      content:'#'
    }

    &:after{
      display: block;
      margin-top: 10px;
      border-bottom: 1px solid gray;
      content:'';
    }

    &:hover{
      &:before{
        display: inline;
      }
    }
  }


  section{
    &:not(:first-child){
      margin-top: 40px;
    }
  }
  .container{
    padding: 0 20px;
    .content{
      h3{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .list-group{
        li{
          margin-bottom: 5px;
        }
      }

      .grid-col-2{
        .form-group,
        .custom-group{
          margin:0 5px;
        }
      }
    }
    hr{
      border-style: dotted;
      border-color: #eaeaea;
    }
  }

  //페이지리스트
  .page-list{
    padding: 0 0 100px;
    counter-reset:title-number;

    & > .list-item{
      counter-increment:title-number;
      h2:before{
        display: inline;
        position: static;
        margin-right: 5px;
        content:counter(title-number) ".";
      }
    }

    .sub-menu{
      margin-top: 10px;
      counter-reset:list-number;
      li{
        counter-increment:list-number;
        a{
          display: flex;
          align-items: center;
          height: 30px;
          color: #8a8a8a;
          .text{
            font-size: 16px;
            padding: 0 5px;
            &:before{
              font-size: 12px;
              margin-right: 3px;
              color: #8a8a8a;
              content:counter(title-number) "-" counter(list-number);
            }
          }
          .status{
            font-size: 14px;
            &:before{
              margin-right: 5px;
              content: '/'
            }
            &:after{
              margin-left: 5px;
            }
          }

          &:hover{
            background-color: #eaeaea;
          }

        }

        &.work, &.modify, &.end {
          a {
            color: $dark-gray;
          }
        }

        &.modify{
          .status{
            &:after{
              display: inline;
              color: $primary;
              content:'변경'
            }
          }
        }
        &.end{
          .status{
            &:after{
              display: inline;
              color: $warning;
              content:'완료'
            }
          }
        }
      }
    }
  }
}