.s-guide {
  h1, h2, h3, h4, h5 {
    color: $dark-gray;
  }

  .row {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .page-header {
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    margin-bottom: 30px;
    background-color: rgba(white, 0.8);
    backdrop-filter: blur(20px);
  }

  .toc {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(black, 0.1);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & > ul {
      display: flex;
      padding: 5px 10px 7px;

      & > li {
        margin-right: 20px;

        .title {
          font-size: 16px;
          font-weight: 500;
        }

        ul {
          display: flex;
          max-width: 600px;
          flex-flow: row wrap;

          li {
            margin-right: 10px;

            &:before {
              margin-right: 4px;
              content: "-";
            }

            a {
              font-size: 14px;
              line-height: 1.4;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        a:hover {
          color: blue;
        }
      }
    }
  }

  section {
    & {
      margin-bottom: 40px;
    }

    .row {
      & > h2 {
        position: relative;
        width: 100%;
        font-size: 24px;

        &:not(:first-child) {
          margin-top: 40px;
        }

        &:before {
          display: none;
          position: absolute;
          left: -14px;
          top: 0;
          content: '#';
        }

        &:after {
          display: block;
          margin-top: 10px;
          border-bottom: 1px solid gray;
          content: '';
        }

        &:hover {
          &:before {
            display: inline;
          }
        }
      }
    }
  }

  .container {
    padding-left: 50px;
    padding-right: 50px;

    .content {
      width: 100%;

      & > h3 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .list-group {
        li {
          margin-bottom: 5px;
        }
      }

      .grid-col-2 {
        .form-group,
        .custom-group {
          margin: 0 5px;
        }
      }

      .color-list {
        display: flex;

        li {
          position: relative;
          width: 100px;
          height: 100px;
          border: 1px solid #eaeaea;
          margin-right: 10px;

          &.dark {
            .info-style {
              background-color: rgba(#6c757d, 0.2);
              color: #eaeaea;
            }
          }

          .chip {
            display: block;
            height: 100%;
          }

          .info-style {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 2px 0 0;
            text-align: center;
            background-color: rgba(white, 0.2);

            span {

            }

            .class-name {
              display: block;
              font-size: 14px;
              padding: 0 0 2px;
              //&:before{
              //  display: block;
              //  font-size: 8px;
              //  content:'className:'
              //}

            }

            .color-value {
              display: block;
              font-size: 11px;
              background-color: rgba(white, 0.2);
              padding: 2px 0;
              //&:before{
              //  display: block;
              //  font-size: 8px;
              //  content:'colorCode:'
              //}
            }
          }
        }
      }

      .font-list {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #eaeaea;

          .list-title {
            font-weight: 500;
            color: black;
            margin-right: 4px;

            &:after {
              content: ':'
            }
          }

          & > * {
            color: $default;
            line-height: 2;
          }

          h2:after {
            display: none;
          }

          .info-style {
            display: block;

            .size {
              &:before {
                content: 'FontSize: '
              }

              &:after {
                margin: 0 4px;
                content: '/'
              }
            }

            .weight {
              &:before {
                content: 'Weight: '
              }
            }

          }
        }
      }
    }

    hr {
      border-style: dotted;
      border-color: #eaeaea;
    }
  }

  //페이지리스트
  .page-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    width: 100%;
    padding: 0 0 100px;
    counter-reset: title-number;

    & > .list-item {
      counter-increment: title-number;
      margin-bottom: 30px;

      &:nth-child(1) {
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
        grid-column: 1 / 3;

        .sub-menu {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(10, 1fr);
        }
      }

      h2 {
        font-size: 24px;

        &:before {
          display: inline;
          position: static;
          margin-right: 5px;
          content: counter(title-number) ".";
        }
      }
    }

    .sub-menu {
      margin-top: 10px;
      counter-reset: list-number;

      li {
        counter-increment: list-number;
        opacity: 0.2;

        a {
          display: flex;
          align-items: center;
          height: 30px;
          cursor: default;

          .text {
            font-size: 16px;
            padding: 0 5px;

            &:before {
              font-size: 12px;
              margin-right: 3px;
              content: counter(title-number) "-" counter(list-number);
            }
          }

          .status {
            font-size: 14px;

            &:before {
              margin-right: 5px;
              content: '/'
            }

            &:after {
              margin-left: 5px;
            }
          }

          &:hover {
            background-color: #eaeaea;
          }
        }

        &.w, &.m, &.e {
          opacity: 1;

          a {
            color: $dark-gray;
            cursor: pointer;
          }
        }

        &.m {
          .status {
            &:after {
              display: inline;
              color: $primary;
              content: '변경'
            }
          }
        }

        &.e {
          .status {
            &:after {
              display: inline;
              color: $warning;
              content: '완료'
            }
          }
        }

        &.w {
          .status {
            &:after {
              display: inline;
              color: $success;
              content: '진행중'
            }
          }
        }
      }
    }
  }
}
