// header, footer를 포함하는 화면 프레임용 스타일 정의
.wrapper {
  .side-container {
    //display: flex;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    width: $side-content-width;
    height: 100%;
    min-height: 500px;
    padding: 16px 0 16px 16px;

    &:after {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      display: block;
      width: $side-content-width;
      height: 100%;
      background-color: rgba(#f6f6f6, 0.95);
      content: '';
    }

    .inner-wrap {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 24px 0;
      background-color: white;
      border: 1px solid #DBDBDB;
      border-radius: 16px;
    }

    .site-logo {
      text-align: center;

      .btn {
        width: 140px;
        height: 40px;
        margin: 0 auto;
      }
    }
  }

  .main-container {
    margin-left: $side-content-width;
    height: 100%;
    min-height: 600px;
    padding: 16px 0;
    $page-header-height: 88px;

    .inner-wrap {
      height: 100%;

      .page-header {
        position: relative;
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        z-index: 50;
        background-color: $body-bg;
        //backdrop-filter: blur(20px);
        min-height: $page-header-height;
        padding: 8px #{$main-container-gap} 0;

        .row{
          justify-content: space-between;
          align-items: center;
        }

        .first-content {

        }

        .second-content {
          flex-shrink: 1;

          .util-list {
            display: flex;
            .list-item{
              margin-left: 16px;
            }

            .type-pill, .user{
              border:1px solid $gray-400;
              background: white;
              border-radius: 20px;
              color:$gray-600;
            }

            .info-holder{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 136px;
              height: 40px;
              .text{
                margin-top: -2px;
              }
            }

            .custom-select {
              .btn-select {
                width: 136px;
                padding-left: 8px;

                .icon-left {
                  width: 24px;
                  height: 24px;
                  path {
                    transition: fill 0.3s ease-out;
                  }

                  & + .text {
                    margin-left: 16px;
                  }
                }
                .icon-right{
                  right: 20px;
                }
              }

              .option-list{
                .option-item-link{
                  padding-left: 48px;
                }
              }

              &.select-active{
                .option-list{
                  border-radius: 0 0 20px 20px;
                }
              }

            }

            .user{
              width: 40px;
              height: 40px;
              margin: 0;
              .s-icon{
                width: 19px; height: 19px;
                path{
                  transition: fill 0.3s ease-out;
                }
              }

              @include hover-focus(){
                border-color: $dark-gray;
                .s-icon{
                  path{
                    fill: $dark-gray;
                  }
                }
              }
            }

          }
        }
      }

      .page-body {
        /**
         * min-height: 100% - headerHeight + footer + top,bottom gap
         */
        min-height: calc(100% - #{ $page-header-height + 77px + 32px });

        &-contents {
          & > section {
            padding: 0 #{$main-container-gap};
          }
        }
      }

      .page-footer {
        margin-top: 40px;
        height: 37px;
        padding: 0 #{$main-container-gap};
      }
    }
  }
}

