// header, footer를 포함하는 화면 프레임용 스타일 정의
.wrapper{


  .side-container{
    display: flex;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    width: $side-content-width; height: 100%;
    padding: 16px 0 16px 16px;

    .inner-wrap{
      width:100%;
      height: 100%;
      padding: 24px 0;
      background-color: white;
      border: 1px solid #DBDBDB;
      border-radius: 16px;
      overflow: hidden;
      overflow-y: auto;
      @include scrollbar;
    }
    .site-logo{
      text-align: center;
      .btn{
        width: 140px;
        height: 40px;
        margin: 0 auto;
      }
    }
  }

  .main-container{
    margin-left: $side-content-width;
    height: 100%;
    min-height: 600px;
    padding:16px 0;
    $page-header-height: 88px;
    .inner-wrap{
      height: 100%;
      .page-header{
        position: relative;
        position:sticky;
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        background-color: $body-bg;
        //backdrop-filter: blur(20px);
        min-height:$page-header-height;
        padding: 0 #{$main-container-gap};
      }

      .page-body{
        /**
         * min-height: 100% - headerHeight + footer + top,bottom gap
         */
        min-height: calc(100% - #{ $page-header-height + 77px + 32px });

        &-contents{
          & > section{
            padding: 0 #{$main-container-gap};
          }
        }
      }
      .page-footer{
        margin-top: 40px;
        height:37px;
        padding: 0 #{$main-container-gap};
      }
    }
  }
}

